<html>

  <body>
    <h3>Hello <%= @user.name %>,</h3>

    <p>Your <%= link_to 'request', @pending_combination %> to modify combination <%= link_to @pending_combination.combination.id, @pending_combination.combination %> has been approved.</p>

    <p>Device '<%= @pending_combination.new_device.full_path %>' has been assigned to it, as well as version '<%= @pending_combination.new_version %>'</p>

  </body>
</html>

