
<%= simple_index_container do %>
  <%= render partial: "shared/help" %>

  <div style="text-align:center;">
  <table style="display:inline-block;">
    <thead>
      <tr>
        <th></th>
        <th>Requested by</th>
        <th>Combination ID</th>
        <th>New Device</th>
        <th>New version</th>
      </tr>
    </thead>

    <tbody>
      <% @pending_combinations.each do |pending_combination| %>
        <tr class="<%= pending_combination.completed ? "alert-success" : "alert-warning" %>" >
          <td style="height:40px">
            <%= link_to '', pending_combination, :class => "btn-show" %>
          </td>
          <td class="hover-popup"><%= pending_combination.owner.name %></td>
          <td class="hover-popup"><%= pending_combination.combination_id %></td>
          <td class="hover-popup"><%= pending_combination.new_device.name unless pending_combination.new_device.nil? %></td> 
          <td class="hover-popup"><%= pending_combination.new_version %></td> 
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate %>
  </div>

<% end %>

