
<%= simple_show_container do %>
  <%= render partial: "shared/help" %>

  <div>
  </div>

  <% if @pending_combination.completed %>
    <h3 class="alert alert-warning">This request has already been processed.</h3>
  <% else %>
    <div>
      <%= form_tag decline_pending_combination_path, :method => :post do %>
        <div class="form-group">
          <label for="reason" class="control-label">Reason : </label>
          <textarea name="reason" class="form-control"></textarea>
        </div>
        <div class="form-group">
           <%= button_tag 'Decline with reason', :method => :post, :class => 'btn btn-danger' %>
           <%= link_to 'Approve', approve_pending_combination_path, :method => :post, :class => 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="show-field">
    <strong>Change requested by:</strong>
    <%= @pending_combination.owner.name %>
  </div>

  <div class="show-field">
    <strong>New device : </strong>
    <%= @pending_combination.new_device.full_path %>
  </div>

  <div class="show-field">
    <strong>Comment : </strong>
    <%= @pending_combination.comment %>
  </div>

  <div class="show-field">
    <strong>Combination ID : </strong>
    <%= @pending_combination.combination_id %>
  </div>

  <div>
    <h3>Current combination details</h3>
    <%= render @pending_combination.combination %>
  </div>

<% end %>
